# Nginx
NPM_HEALTHCHECK_URL=http://localhost:81
NPM_DNS=ENTER_YOUR_DNS_SERVER_IP

# PiHole
PIHOLE_HEALTHCHECK_URL=http://localhost:80
TZ=America/New_York
FTLCONF_webserver_api_password=SUPER_SECURE_PASSWORD_123
FTLCONF_dns_listeningMode=all

# Netbird
NB_SETUP_KEY=ENTER_YOUR_NETBIRD_SETUP_KEY 
