PG_DB=authentik
PG_PASS=CHANGE_ME_123
PG_USER=DEFAULT_USER_123

AUTHENTIK_SECRET_KEY=ENTER_YOUR_SECRET_KEY_HERE
AUTHENTIK_HOST=https://auth.domain.com
AUTHENTIK_LISTEN__TRUSTED_PROXY_CIDRS=172.0.0.0/8

HOMEPAGE_ALLOWED_HOSTS=192.168.xxx.xxx:3000,localhost:3000,homepage.domain.com

