# Grafana
GF_SECURITY_ADMIN_USER=GRAFANA_USER
GF_SECURITY_ADMIN_PASSWORD=SUPER_SECURE_PASSWORD_123
GF_USERS_ALLOW_SIGN_UP=false
TZ=America/New_York

# Postgres
POSTGRES_USER=DB_USER
POSTGRES_PASSWORD=POSTGRES_PASSWORD
POSTGRES_DB=monitoring

# PG Admin
PGADMIN_DEFAULT_EMAIL=local.selfhosted
PGADMIN_DEFAULT_PASSWORD=PGADMIN_PASSWORD
PGADMIN_DISABLE_POSTFIX=1
PGADMIN_LISTEN_PORT=80
