# n8n Settings
GENERIC_TIMEZONE=America/New_York
N8N_HOST=n8n.domain.com
N8N_PROTOCOL=https
WEBHOOK_URL=https://n8n.domain.com/
N8N_SECURE_COOKIE=true #when using https
N8N_RUNNERS_ENABLED=true
N8N_PORT=5678
NODE_ENV=production
N8N_PROXY_HOPS=1
#
#
# Reverse proxy: Traefik
# Optional. Only uncomment if this stack is routed through Traefik.
# Leave commented if using Nginx Proxy Manager, Caddy, Cloudflare Tunnel, or another reverse proxy.
#
# Traefik (optional if not using NPM)
#TRAEFIK_ROUTER_NAME=n8n
#TRAEFIK_DOMAIN=n8n.example.com
#TRAEFIK_CERT_RESOLVER=mytlschallenge
#
# PostgreSQL
POSTGRES_DB=n8n
POSTGRES_USER=n8n
POSTGRES_PASSWORD=changeme123 
